//Neutral Colors
$neutral-lightest-color: rgb(250, 248, 246);
$neutral-light-color:   rgb(243, 237, 231);
$neutral-darker-color:  rgb(73, 86, 109);
$neutral-darkest-color: rgb(23,35,57);

//Accent Colors
$orange-color: rgb(255, 168, 78);
$purple-color: rgb(203, 48, 227);
$violet-color: rgb(160, 96, 255);

// Typography

$primary-font: 'Epilogue', sans-serif;

